.stats-section {
 padding-top: 120px;
  background: rgba(20, 29, 48, 1);
  
  
}

.stat-card {
  padding: 30px;
  border-radius: 20px;
  backdrop-filter: blur(12px);
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.08);
  text-align: center;
  transition: 0.4s ease;
  cursor: pointer;
}





.stat-number {
  font-size: 2.8rem;
  font-weight: 800;
  color: white;
  margin: 0;
}

.stat-label {
  margin-top: 5px;
  font-size: 1.1rem;
  color: #b8b8b8;
}




.timelly-end-section {
  padding: 80px 0;
  background: rgba(20, 29, 48, 1);
  position: relative;
  overflow: hidden;
  padding-bottom: 20vh;
}
.timelly-container{

}
/* Title with wave shimmer */
.timelly-title {
  font-size: 4rem;
  font-weight: 900;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 20px;
  background: linear-gradient(
    90deg,
    #ffffff 20%,
    #a060ff 40%,
    #ffffff 60%
  );
  background-size: 200% 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: waveShimmer 2.5s linear infinite;
}

.timelly-tagline {
  font-size: 1.3rem;
  color: #ffffff;
  max-width: 650px;
  margin: 0 auto;
  line-height: 1.7;
  background: linear-gradient(
    90deg,
    #ffffff 20%,
    #22d3ee 40%,
    #ffffff 60%
  );
  background-size: 200% 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: waveShimmer 2.5s linear infinite;
}

/* Wave shimmer animation */
@keyframes waveShimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}
